# Backend
DATA_SOURCE_MODE=hybrid
CHICAGO_TABLE=chicago_crimes
CACHE_DIR=data_cache
TIDB_USER=
TIDB_PASSWORD=
TIDB_HOST=
TIDB_PORT=
TIDB_DB_NAME=Chicago_data
TID_CA_PATH=

# Frontend
NEXT_PUBLIC_API_BASE=http://localhost:8000/api
